

body {

      font-family: 'Merriweather', sans-serif;
      font-size: 1.1em;
      line-height: 1.8;
      color: #474342;
      background-color: #F5F1E8;
      display: flex;
      flex-direction: column;
      align-items: center;


    }


h1, h2, h3 {font-family: 'Bitter', serif;}



a {

  color: #2c303e;
}

a:visited {
  color: #201e1e;
}
