




html {width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      background-color: #F5F1E8;
      color: #474342;
      }

body {
      width: 100%;
      height:100%;
      font-family: 'Merriweather', sans-serif;
      font-size: 1em;
      line-height: 1.5;




      }

h1, h2, h3 {font-family: 'Bitter', serif;}

h1 {font-size:2em;}

h2 {font-size: 1.5em;
  margin-bottom: 10%;}

  a {

    color: #2c303e;
  }

  a:visited {
    color: #201e1e;
  }


nav {
        line-height: 1.7;
        display: flex;
        flex-direction: column;
        align-items: center;


      }

main {
      display: flex;
      flex-direction: column;
      align-items: center;

      }


header  {
          margin-top: 5%;
          margin-bottom: 5%;
          display: flex;
          flex-direction: column;
          align-items: center;
          
          }

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: white; */

}

figcaption {
  padding-top: 10px;
  padding-bottom: 25px;

}


#titles {

              display: flex;
              flex-direction: column;
              align-items: center;
              padding-bottom: 10px;
              margin-bottom: 5px;
              }




/* [LIGHTBOX BACKGROUND] */
#lb-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.4s;
}
#lb-back.show {
  visibility: visible;
  opacity: 1;
}

/* [LIGHTBOX IMAGE] */
#lb-img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;

}
#lb-img img {
  /* You might want to play around with
     width, height, max-width, max-height
     to fit portrait / landscape pictures properly. */
  width: 50%;
  height: auto;

  /* ALTERNATE EXAMPLE
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto; */
}

img {

  width: 300px;
  height: auto;
  cursor: pointer;
  border-radius: 20px;
  border-color: #201e1e;
  border-style: solid;
  border-width: thin;
}



        /*
            We set the # of columns based on the screen width
            the larger the more columns
            We start at one column and work our way up
        */

            #pictures {
              display: grid;
              grid-template-columns: repeat(1, 1fr);
              grid-row-gap:1em;
            }

            /* Two Columns */
            @media screen and (min-width:768px) {
              #pictures {
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap:1em;
              }
            }

            /* Three Columns */
            @media screen and (min-width:992px) {
              #pictures {
                grid-template-columns: repeat(3, 1fr);
              }
            }

         







/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXx */



@media screen and (orientation: landscape) {


  /* [LIGHTBOX BACKGROUND] */
  #lb-back {
    position: fixed;

    top: 45%;
    left: -25%;

    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.4s;
  }
  #lb-back.show {
    visibility: visible;
    opacity: 1;
  }

  /* [LIGHTBOX IMAGE] */
  #lb-img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

  }
  #lb-img img {
    position: relative;
        top: 50%;
        left: 25%;
        transform: translateY(-50%);
        text-align: center;
        max-width: 50%;
    }
  }




}
